.datphong {
	width: 100%;
    height: 500px;
     
    padding-top: 120px;
    position: relative;
    background-color: #C2BCBC;
}

.form{
	width: 60%;
	height:350px;
	background-color: white;
	position: absolute;
	margin:0 20%;
	opacity: 0.9;
	padding:20px 50px ;
	box-sizing: border-box;
}
.form p{
	font-size:25px;
}

